body {
  background-color: rgb(18, 24, 34);
}
nav {
height: 50px;
}
section {
  width: 1260px;
  float: left;
}
.aside {
  width: 221px;
  height: 500px;
  background: white;
  float: left;
}
.asideImg{
  width: 200px;
}
header {
  background-color: rgb(42, 46, 57);
  padding-top: 1px;
  margin-top: 15px;
}

p {
  font-family: Roboto;
  color: rgb(209, 212, 220);
  padding-left: 80px;
}
input {
  position: absolute;
  top: 1%;
  left: 25%;
  margin-top: -50px;
  margin-left: -50px;
  height: 40;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  width: 300px;
  border-radius: 15px;
  border-width: 1px;
  background-color: rgb(42, 46, 57);
  border-style: solid;
  font-size: 20;
}

.tradingview {
  position: absolute;
  top: -2.5%;
  left: 5%;
  margin-top: 0px;
  margin-left: -50px;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
  height: 100px;
  width: auto;
}
.sections{
  position: absolute;
  top: 3.5%;
  left: 47%;
  margin-top: 0px;
  margin-left: -50px;
}
.header-breadcrumb {
  font-size: 15px;
  font-weight: lighter;
  padding-top: 30px;
}
.header-title {
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  font-weight: lighter;
  line-height: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(209, 212, 220);
  padding-left: 10px;
  padding-bottom: 10px;
  height: 5px;
}
.header-subtitle {
  display: flexbox;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: lighter;
  line-height: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(149, 152, 161);
  padding-left: 155px;
}
.header-price {
  font-size: 50px;
  font-weight: lighter;
  line-height: 20px;
  margin-bottom: 10px;
}
.span-decimals {
  color: rgb(52, 167, 140);
}
.span-headerprice {
  font-size: 20px;
}
.span-changeprice {
  color: rgb(242, 54, 70);
  font-size: 20px;
}
.header-description {
  font-size: 13px;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 20px;
}
.subtitulosHeader{
  font-size: 20px;
  padding-bottom: 10px;
}
.resumen{
  color: rgb(40,98,255);
}
.header-breadcrumb {
  color: rgb(149, 152, 161);
  margin-top: 0px;
}
.titulo-seguimiento {
  font-size: 15px;
  padding-left: 0%;
}
.btclogo {
  height: 60px;
  margin-top: 20px;
  width: auto;
  padding-left: 80px;
  display: inline-block;
  vertical-align: top;
}
.grafica {
  width: 1180px;
  margin-left: 80px;
}
.span-mercado {
  color: rgb(52, 167, 140);
}
.titulo-grafica{
  font-size: 30px;
}
.ideas{
  font-size: 40px;
}
.articles{
  display: flex;
  flex-direction: row;
}
.tituloArt {
padding-left: 30px;
padding-top: 0px;
font-size: 30px;

}
.subtituloArt1{
  padding-left: 30px;
  font-size: 20px;
}
.subtituloArt2{
  padding-left: 25px;
  font-size: 30px;
}
.graficaalcista {
  width: 500px;
  padding-left: 25px;

}
.bodyArt1{
  padding-left: 25px;
  padding-top: 25px;
  width: 500px;
}
.rocketbutton{
  display: flex;
  flex-direction: row;
}
.commentbutton{
  display: flex;
  flex-direction: row;
}
.sharebutton{
  display: flex;
  flex-direction: row;
}
.bookmarkbutton{
  display: flex;
  flex-direction: row;
}
.number1{
  padding-left: 0px;
}
.rocket{
 
  height: 20px;
  background-color: rgb(18, 24, 34);
  cursor: pointer;
  border-radius: 3px;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgb(149, 152, 161);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.number2{
  padding-left: 0px;
}
.comment{
  height: 20px;
  background-color: rgb(18, 24, 34);
  cursor: pointer;
  border-radius: 3px;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgb(149, 152, 161);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  }
  .number3{
    padding-left: 0px;
  }
  .share{
    height: 20px;
    background-color: rgb(18, 24, 34);
    cursor: pointer;
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: rgb(149, 152, 161);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    }

  .number4{
    padding-left: 0px;
  }
  .bookmark{
    height: 20px;
    background-color: rgb(18, 24, 34);
    cursor: pointer;
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-color: rgb(149, 152, 161);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    }
  


.art1{
  width: 550px;
  border-color: rgb(42, 46, 57);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;

  height: 800px;
  background-color: rgb(42, 46, 57);
  margin-left: 80px;
}

.art2{
  width: 550px;
  height: 800px;
  background-color: rgb(42, 46, 57);
  margin-left: 80px;
}
.neutral {
  width: 500px;
  padding-left: 25px;

}
.noticia{
  height: 120px;
  background-color: rgb(18, 24, 34);
  cursor: pointer;
  border-radius: 3px;
  margin-left: 12px;
  margin-top: 10px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: rgb(149, 152, 161);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.descripcionBodyNoticia{
  padding-left: 0px;
  margin-left: 0px;
  width: 500px;
  text-align: left;
  color:rgb(149, 152, 161); ;
}
.bodyNoticia{
  padding-left: 0px;
  margin-left: 0px;
  width: 500px;
  text-align: left;
  font-size: 20px;
}